*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.gaux
*.glog
*.idx
*.ilg
*.ind
*.dvi
*.gtex
*.ps
*.eps
*.pdf
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.ttf
*.zip
*.doc
*.docx
*.odt
*.jpg
*.jpeg
*.png
*.svg
*.sla
*.xcf
